$white: #ffffff;
$grey-lv1: #EEEEEE;
$grey-lv2: #CECDCE;
$grey-lv3: #A9A9AA;
$grey-lv4: #79797A;
$grey-lv5: #424243;
$purple-lv1: #EDE7FF;
$purple-lv2: #C8AAFF;
$purple-lv3: #A470FF;
$purple-lv4: #9A60FF;
$purple-lv5: #5E2DB6;
$red-error: #f1453D;

$font-size: 14px;

$button-height: 32px;
$border-radius: 4px;

$input-height: 32px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$toast-height: 40px;
$toast-bg: rgba(0, 0, 0, 0.75);
$toast-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
$animation-time:500ms;
