//基础色
$white: #ffffff;
$grey-lv0: #f8f8f8;
$grey-lv1: #EEEEEE;
$grey-lv2: #CECDCE;
$grey-lv3: #A9A9AA;
$grey-lv4: #79797A;
$grey-lv5: #656566;
$grey-lv6: #424243;
$purple-lv0: #fff7fb;
$purple-lv1: #e1bee7;
$purple-lv2: #ce93d8;
$purple-lv3: #ba68c8;
$purple-lv4: #ab47bc;
$purple-lv5: #7b1fa2;
$red-error: #ef5350;
$green:#2DCE6E;
$orange:#E6A23B;

$animation-time: 500ms;
$border-color-light:$grey-lv1;
$border-color:$grey-lv2;
$border-radius-light: 4px;
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$box-shadow-light:0 0px 2px 0 rgba(0,0,0,0.1);
$box-shadow: 0 0 3px 0 $box-shadow-color;
$button-height: 32px;
$font-size: 14px;
$font-size-small:12px;
$font-color: #656566;
$font-family:'Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif';
$input-height: 32px;
$toast-bg: rgba(0, 0, 0, 0.75);
$toast-height: 40px;

%box-shadow{
  box-shadow: $box-shadow-light;
}

@keyframes rorate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin spin{
  animation: rorate 2s infinite linear;
}

@keyframes slide-up {
  0% {opacity: 0;transform: translateY(100%)}
  100% {opacity: 1;transform: translateY(0)}
}
@keyframes slide-down {
  0% {opacity: 0;transform: translateY(-100%)}
  100% {opacity: 1;transform: translateY(0)}
}
@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}
